# ----------------------------------------------------
# Python 虛擬環境
# ----------------------------------------------------
venv/
*.pyc
__pycache__/

# ----------------------------------------------------
# 專案產生的資料夾和檔案
# ----------------------------------------------------
# 儲存下載的資料集
data/

# 儲存訓練好的模型
*.pth
*.pt
model.pth
model.pt

# ----------------------------------------------------
# IDE 產生的檔案（以 VSCode 為例）
# ----------------------------------------------------
.vscode/

# ----------------------------------------------------
# 作業系統檔案
# ----------------------------------------------------
.DS_Store # macOS 產生的檔案
Thumbs.db # Windows 產生的檔案
